ion-fab {
  z-index: 1000;
}

ion-fab-button {
  --background: var(--app-accent-color);
  --color: var(--app-accent-color-contrast);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;

  &:hover {
    --background: var(--app-accent-color);
  }
}

.fab-icon {
  color: var(--app-accent-color-contrast);
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-fab-button ion-icon {
  color: var(--app-accent-color-contrast);
}

ion-tab-bar {
  --background: var(--app-secondary-color);
  --border-color: var(--app-text-color);
  --color: var(--app-text-color);
  --color-selected: var(--app-accent-color);

  ion-tab-button {
    --color: var(--app-text-color);
    --color-selected: var(--app-accent-color);
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &.tab-selected {
      opacity: 1;
      transform: scale(1.05);
      ng-icon {
        color: var(--app-accent-color);
      }
      ion-label {
        color: var(--app-accent-color);
      }
    }

    ng-icon {
      font-size: 20px;
      transition: all 0.2s ease-in-out;
      margin-bottom: 3px;
    }

    ion-label {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .fab-placeholder {
    opacity: 0;
    pointer-events: none;
  }
}
