<app-header [title]="'feature.suspects.headerTitle' | translate" [showMenuButton]="true"></app-header>


<ion-content>
	<div class="search-filter" role="search" [attr.aria-label]="'feature.suspects.searchFilterAriaLabel' | translate">
		<ion-searchbar [placeholder]="'feature.suspects.searchPlaceholder' | translate" [(ngModel)]="searchQuery"
			(ionInput)="onSearchChange($event)"
			[attr.aria-label]="'feature.suspects.searchAriaLabel' | translate"></ion-searchbar>
		<ion-button class="filter-button" fill="solid" [attr.aria-label]="'feature.suspects.filterButtonAria' | translate"
			(click)="openFilterPopover($event)">
			<ng-icon name="bootstrapFilter"></ng-icon>
		</ion-button>
	</div>

	<ion-list role="list" [attr.aria-label]="'feature.suspects.listAriaLabel' | translate">
		<ion-card *ngFor="let suspect of filteredSuspects()" (click)="navigateToDetails(suspect)" tabindex="0"
			role="listitem" (keyup.enter)="navigateToDetails(suspect)"
			[attr.aria-label]="suspect.Name + (suspect.Crime ? ', ' + ('feature.suspects.crimeLabel' | translate) + ': ' + suspect.Crime : '') + (suspect.Scene ? ', ' + ('feature.suspects.sceneLabel' | translate) + ': ' + suspect.Scene : '')">
			<div class="suspect-image-wrapper" *ngIf="getImageUrl(suspect)">
				<ion-img class="suspect-image" [src]="getImageUrl(suspect)"
					[attr.alt]="suspect.Name + (suspect.Crime ? ', ' + ('feature.suspects.crimeLabel' | translate) + ': ' + suspect.Crime : '')"></ion-img>
			</div>

			<ion-card-header>
				<ion-card-title>{{ suspect.Name }}</ion-card-title>
				<ion-card-subtitle class="card-subtitle">
					<div class="icon-text-group" *ngIf="suspect.Crime">
						<ng-icon name="bootstrapExclamationTriangle" aria-hidden="true"></ng-icon>
						<span>{{ suspect.Crime }}</span>
					</div>
					<div class="icon-text-group" *ngIf="suspect.Scene">
						<ng-icon name="bootstrapPinAngle" aria-hidden="true"></ng-icon>
						<span>{{ suspect.Scene }}</span>
					</div>
				</ion-card-subtitle>
			</ion-card-header>
		</ion-card>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content aria-live="polite" [attr.aria-busy]="isLoading()"></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>