<app-header title="Most Wanted" [showMenuButton]="true"></app-header>

<ion-content>
	<ion-list>
		<ion-card *ngFor="let suspect of filteredSuspects()" (click)="navigateToDetails(suspect)">
			<div class="card-image-wrapper" *ngIf="getImageUrl(suspect)">
				<ion-img class="card-image" [src]="getImageUrl(suspect)"></ion-img>
			</div>

			<ion-card-header>
				<ion-card-title>{{ suspect.Name }}</ion-card-title>
				<ion-card-subtitle class="card-subtitle">
					<div class="icon-text-group" *ngIf="suspect.Crime">
						<ng-icon name="bootstrapExclamationTriangle" class="crime-icon" inline="true"></ng-icon>
						<span>{{ suspect.Crime }}</span>
					</div>
					<div class="icon-text-group" *ngIf="suspect.Scene">
						<ng-icon name="bootstrapPinAngle" class="scene-icon" inline="true"></ng-icon>
						<span>{{ suspect.Scene }}</span>
					</div>
				</ion-card-subtitle>
			</ion-card-header>
		</ion-card>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>