<ion-modal [inert]="!isOpen" (willDismiss)="onWillDismiss()" autoHide="true">
	<ng-template>
		<ion-header>
			<ion-toolbar>
				<ion-title>Tip Information</ion-title>
				<ion-buttons slot="end">
					<ion-button (click)="close()">Close</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
		<ion-content class="ion-padding">

			<p>
				For emergencies, call the police. This tip system is for non-urgent information about past or potential crimes.
				Examples:
			</p>


			<ul>
				<li>Information about unsolved crimes.</li>
				<li>Suspected illegal activities.</li>
				<li>Knowledge of potential threats to the community.</li>
			</ul>

			<p>
				To aid investigations, provide comprehensive details. Your anonymity is guaranteed.
			</p>

			<ion-button shape="round" expand="full" (click)="continueTip()">Continue to Tip</ion-button>
		</ion-content>
	</ng-template>
</ion-modal>