<ion-menu menuId="side-menu" contentId="main-content" [swipeGesture]="true" autoHide="true">
	<ion-content [fullscreen]="true" class="side-menu-content">
		<!-- Header Section -->
		<div class="menu-header">
			<div class="logo-container">
				<img src="assets/icons/icon-white.png" alt="Crime Stoppers Logo" class="app-icon" />
			</div>
			<h3>Crime Stoppers of Halton</h3>
		</div>

		<!-- Menu Items -->
		<div class="menu-items">
			@if (!isPrivacyModeEnabled) {
			<ion-item button (click)="goToSuspects()">
				<ng-icon slot="start" name="bootstrapPersonBoundingBox"></ng-icon>
				<ion-label>Most Wanted</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			@if (!isPrivacyModeEnabled) {
			<!-- Crime Stats moved to bottom tab bar -->
			}

			@if (!isPrivacyModeEnabled) {
			<ion-item button (click)="goToCommunityWatch()">
				<ng-icon slot="start" name="bootstrapEye"></ng-icon>
				<ion-label>Community Watch</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			@if (!isPrivacyModeEnabled) {
			<ion-item button routerLink="/donate" (click)="closeMenu()">
				<ng-icon slot="start" name="bootstrapCash"></ng-icon>
				<ion-label>Donate</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			@if (!isPrivacyModeEnabled) {
			<ion-item button routerLink="/volunteer" (click)="closeMenu()">
				<ng-icon slot="start" name="bootstrapPeople"></ng-icon>
				<ion-label>Volunteer</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			@if (!isPrivacyModeEnabled) {
			<ion-item button (click)="goToContact()">
				<ng-icon slot="start" name="bootstrapEnvelope"></ng-icon>
				<ion-label>Contact Us</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			<ion-item button (click)="goToSettings()">
				<ng-icon slot="start" name="bootstrapGear"></ng-icon>
				<ion-label>Settings</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
		</div>
	</ion-content>
</ion-menu>