<app-header title="Settings"></app-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Settings</ion-title>
		</ion-toolbar>
	</ion-header>

	<div class="settings-container">
		<div class="settings-section">
			<h3 class="section-title">Appearance</h3>
			<div class="settings-card">
				<ion-item button (click)="onThemeClick()" lines="none">
					<div class="setting-icon-container theme-icon" slot="start">
						<ng-icon name="bootstrapPalette"></ng-icon>
					</div>
					<ion-label>
						<h4>Theme</h4>
						<p>Choose your preferred color scheme</p>
					</ion-label>
					<div class="setting-value" slot="end">
						<span>{{ themeDisplayName$ | async }}</span>
						<ng-icon name="bootstrapChevronRight"></ng-icon>
					</div>
				</ion-item>
				<ion-item button (click)="onFontSizeClick()" lines="none">
					<div class="setting-icon-container font-icon" slot="start">
						<ng-icon name="bootstrapType"></ng-icon>
					</div>
					<ion-label>
						<h4>Font Size</h4>
						<p>Adjust text size for better readability</p>
					</ion-label>
					<div class="setting-value" slot="end">
						<span>{{ fontSizeDisplayName$ | async }}</span>
						<ng-icon name="bootstrapChevronRight"></ng-icon>
					</div>
				</ion-item>
			</div>
		</div>

		<div class="settings-section">
			<h3 class="section-title">Accessibility</h3>
			<div class="settings-card">
				<ion-item button (click)="onLanguageClick()" lines="none">
					<div class="setting-icon-container language-icon" slot="start">
						<ng-icon name="bootstrapTranslate"></ng-icon>
					</div>
					<ion-label>
						<h4>Language</h4>
						<p>*WIP*</p>
					</ion-label>
					<div class="setting-value" slot="end">
						<span>English</span>
						<ng-icon name="bootstrapChevronRight"></ng-icon>
					</div>
				</ion-item>


				<ion-item button (click)="onScreenReaderClick()" lines="none">
					<div class="setting-icon-container screen-reader-icon" slot="start">
						<ng-icon name="bootstrapSoundwave"></ng-icon>
					</div>
					<ion-label>
						<h4>Screen Reader</h4>
						<p>*WIP*</p>
					</ion-label>
					<div class="setting-value" slot="end">
						<span>Enabled</span>
						<ng-icon name="bootstrapChevronRight"></ng-icon>
					</div>
				</ion-item>
			</div>
		</div>

		<div class="settings-section">
			<h3 class="section-title">Security</h3>
			<div class="settings-card">
				<ion-item button (click)="onPrivacyModeClick()" lines="none">
					<div class="setting-icon-container privacy-icon" slot="start">
						<ng-icon name="bootstrapIncognito"></ng-icon>
					</div>
					<ion-label>
						<h4>Privacy Mode</h4>
						<p>Control data collection and visibility</p>
					</ion-label>
					<div class="setting-value" slot="end">
						<span>{{ privacyModeDisplayName$ | async }}</span>
						<ng-icon name="bootstrapChevronRight"></ng-icon>
					</div>
				</ion-item>

				<ion-item button (click)="onLoginAuthClick()" lines="none">
					<div class="setting-icon-container auth-icon" slot="start">
						<ng-icon name="bootstrapFingerprint"></ng-icon>
					</div>
					<ion-label>
						<h4>Authentication</h4>
						<p>*WIP*</p>
					</ion-label>
					<div class="setting-value" slot="end">
						<span>Disabled</span>
						<ng-icon name="bootstrapChevronRight"></ng-icon>
					</div>
				</ion-item>
			</div>
		</div>

		<div class="settings-section">
			<h3 class="section-title">System</h3>
			<div class="settings-card">
				<ion-item lines="none">
					<div class="setting-icon-container notifications-icon" slot="start">
						<ng-icon name="bootstrapBell"></ng-icon>
					</div>
					<ion-label>
						<h4>Notifications</h4>
						<p>Enable or disable notifications</p>
					</ion-label>
					<ion-toggle slot="end" [checked]="notificationEnabled"
						(ionChange)="onNotificationEnabledToggle($event)"></ion-toggle>
				</ion-item>
				<ion-item button (click)="onResetSettings()" lines="none">
					<div class="setting-icon-container reset-icon" slot="start">
						<ng-icon name="bootstrapArrowClockwise"></ng-icon>
					</div>
					<ion-label>
						<h4>Reset Settings</h4>
						<p>Restore all settings to default values</p>
					</ion-label>
					<div class="setting-value" slot="end">
						<ng-icon name="bootstrapChevronRight"></ng-icon>
					</div>
				</ion-item>
			</div>
		</div>
	</div>
</ion-content>