<app-header title="Alerts" [showMenuButton]="true"></app-header>

<ion-content>
	<div class="search-filter">
		<ion-searchbar placeholder="Search alerts" [(ngModel)]="searchQuery"
			(ionInput)="onSearchChange($event)"></ion-searchbar>
		<ion-button class="filter-button" fill="solid" aria-label="Filter" (click)="openFilterPopover($event)">
			<ng-icon name="bootstrapFilter"></ng-icon>
		</ion-button>
	</div>

	<ion-list>
		<ion-card *ngFor="let alert of filteredAlerts()" (click)="navigateToDetails(alert)">
			<div class="card-image-wrapper" *ngIf="getImageUrl(alert)">
				<ion-img class="card-image" [src]="getImageUrl(alert)"></ion-img>
			</div>

			<ion-card-header>
				<ion-card-title>{{ alert.Title }}</ion-card-title>
				<ion-card-subtitle class="card-subtitle">
					<div class="icon-text-group">
						<ng-icon name="bootstrapCalendarEvent" class="date-icon" inline="true"></ng-icon>
						<span>{{ formatDate(alert.publishedAt || alert.createdAt) }}</span>
					</div>
					<ion-badge [color]="getSourceBadgeColor(alert.Source)" class="source-badge">
						{{ alert.Source }}
					</ion-badge>
				</ion-card-subtitle>
			</ion-card-header>

			<ion-card-content>
				<p class="card-body-text">{{ alert.Body | slice:0:150 }}...</p>
			</ion-card-content>
		</ion-card>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>