<ion-menu menuId="side-menu" contentId="main-content" [swipeGesture]="true" autoHide="true" role="navigation"
	aria-label="Main menu">
	<ion-content [fullscreen]="true" class="side-menu-content">
		<div class="menu-header" role="banner">
			<div class="logo-container">
				<img src="assets/icons/icon-white.png" alt="Crime Stoppers Logo" class="app-icon" />
			</div>
			<h3 id="menu-title">Crime Stoppers of Halton</h3>
		</div>

		<div class="menu-items" role="menu" aria-labelledby="menu-title">
			@if (!isPrivacyModeEnabled) {
			<ion-item button (click)="goToSuspects()" aria-label="Go to Most Wanted page" role="menuitem">
				<ng-icon slot="start" name="bootstrapPersonBoundingBox"></ng-icon>
				<ion-label>{{ 'core.sideMenu.suspects' | translate }}</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			@if (!isPrivacyModeEnabled) {
			}

			@if (!isPrivacyModeEnabled) {
			<ion-item button (click)="goToCommunityWatch()" aria-label="Go to Community Watch page" role="menuitem">
				<ng-icon slot="start" name="bootstrapEye"></ng-icon>
				<ion-label>{{ 'core.sideMenu.communityWatch' | translate }}</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			@if (!isPrivacyModeEnabled) {
			<ion-item button routerLink="/donate" (click)="closeMenu()" aria-label="Go to Donate page" role="menuitem">
				<ng-icon slot="start" name="bootstrapCash"></ng-icon>
				<ion-label>{{ 'core.sideMenu.donate' | translate }}</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			@if (!isPrivacyModeEnabled) {
			<ion-item button routerLink="/volunteer" (click)="closeMenu()" aria-label="Go to Volunteer page" role="menuitem">
				<ng-icon slot="start" name="bootstrapPeople"></ng-icon>
				<ion-label>{{ 'core.sideMenu.volunteer' | translate }}</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			@if (!isPrivacyModeEnabled) {
			<ion-item button (click)="goToContact()" aria-label="Go to Contact Us page" role="menuitem">
				<ng-icon slot="start" name="bootstrapEnvelope"></ng-icon>
				<ion-label>{{ 'core.sideMenu.contact' | translate }}</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
			}

			<ion-item button (click)="goToSettings()" aria-label="Go to Settings page" role="menuitem">
				<ng-icon slot="start" name="bootstrapGear"></ng-icon>
				<ion-label>{{ 'core.sideMenu.settings' | translate }}</ion-label>
				<ng-icon slot="end" name="bootstrapChevronRight"></ng-icon>
			</ion-item>
		</div>
	</ion-content>
	<div class="test-notifications">
		<button class="notification-btn" (click)="testWeekly()" aria-label="Trigger weekly notification test">
			{{ 'core.sideMenu.testNotifications.weekly' | translate }}
		</button>
		<button class="notification-btn" (click)="testMonthly()" aria-label="Trigger monthly notification test">
			{{ 'core.sideMenu.testNotifications.monthly' | translate }}
		</button>
		<button class="notification-btn" (click)="testInactivity()" aria-label="Trigger inactivity notification test">
			{{ 'core.sideMenu.testNotifications.inactivity' | translate }}
		</button>
	</div>
</ion-menu>