.tip-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 0;
}

.tip-icon {
  font-size: 1.6rm;
  color: var(--ion-color-primary);
  margin-right: 16px;
}

.tip-content {
  font-size: 1.1rem;
}

ion-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 4px;
}

ion-item {
  font-size: 1.2rem;
}
