ion-list {
  --padding-start: 0;
  --padding-end: 0;
}

.about-item {
  margin-bottom: 4px;
}

.about-header {
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 0;
}

.about-icon {
  font-size: 1.6rem;
  color: var(--ion-color-primary);
  margin-right: 16px;
}

.about-content {
  font-size: 1.1rem;
  padding: 8px 16px;
  margin-top: -8px;
}

ion-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 2px;
}

ion-item {
  font-size: 1.2rem;
  --min-height: 40px;
}
