/* about-us.component.scss */
.about-card {
  margin: 0;
  box-shadow: none;

  ion-list {
    padding: 8px 0;
  }
}

.about-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 0;

  h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 4px;
  }

  p {
    font-size: 0.95rem;
    color: var(--ion-color-medium);
    line-height: 1.4;
    margin: 0;
  }
}

.about-icon {
  font-size: 28px;
  color: var(--ion-color-primary);
  margin-right: 16px;
}
