<ion-modal [inert]="!isOpen" (willDismiss)="onWillDismiss()" autoHide="true">
	<ng-template>
		<ion-header>
			<ion-toolbar>
				<ion-title>{{ 'feature.home.tipInfo.title' | translate }}</ion-title>
				<ion-buttons slot="end">
					<ion-button (click)="close()">{{ 'feature.home.tipInfo.close' | translate }}</ion-button>
				</ion-buttons>
			</ion-toolbar>
		</ion-header>
		<ion-content class="ion-padding">

			<p>
				{{ 'feature.home.tipInfo.intro' | translate }}
			</p>


			<ul>
				<li>{{ 'feature.home.tipInfo.example1' | translate }}</li>
				<li>{{ 'feature.home.tipInfo.example2' | translate }}</li>
				<li>{{ 'feature.home.tipInfo.example3' | translate }}</li>
			</ul>

			<p>
				{{ 'feature.home.tipInfo.details' | translate }}
			</p>

			<ion-button shape="round" expand="full" (click)="continueTip()">{{ 'feature.home.tipInfo.continue' | translate }}</ion-button>
		</ion-content>
	</ng-template>
</ion-modal>
