<app-header title="Events" [showMenuButton]="true"></app-header>

<ion-content>
	<div class="search-filter">
		<ion-searchbar placeholder="Search events" [(ngModel)]="searchQuery"
			(ionInput)="onSearchChange($event)"></ion-searchbar>
		<ion-button class="filter-button" fill="solid" aria-label="Filter" (click)="openFilterPopover($event)">
			<ng-icon name="bootstrapFilter"></ng-icon>
		</ion-button>
	</div>

	<ion-list>
		<ion-card *ngFor="let event of filteredEvents()" (click)="navigateToDetails(event)">
			<div class="card-image-wrapper" *ngIf="getImageUrl(event)">
				<ion-img class="card-image" [src]="getImageUrl(event)"></ion-img>
			</div>

			<ion-card-header>
				<ion-card-title>{{ event.Title }}</ion-card-title>
				<ion-card-subtitle class="card-subtitle">
					<div class="icon-text-group">
						<ng-icon name="bootstrapCalendarEvent"></ng-icon>
						<span>{{ formatDate(event.Event_Time) }}</span>
					</div>
					<ion-badge class="info-badge" [color]="getTypeBadgeColorSafe(event.Type)"
						(click)="addToCalendar(event, $event)">
						<ng-icon name="bootstrapPlusCircle" class="icon-size" style="margin-right: 6px;"></ng-icon>
						Save
					</ion-badge>
				</ion-card-subtitle>
				@if (event.Location) {
				<div class="metadata-item location-item">
					<ng-icon name="bootstrapGeoAlt"></ng-icon>
					<span>{{ event.Location }}</span>
				</div>
				}
			</ion-card-header>

			<ion-card-content>
				<p class="card-body-text">{{ event.Body | slice: 0:150 }}...</p>
			</ion-card-content>
		</ion-card>
	</ion-list>

	<ion-infinite-scroll (ionInfinite)="loadMore($event)">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>