<app-header title="Home"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
	<div class="cta-section">
		<ion-button expand="block" size="large" class="tip-button" (click)="openTipModal()">
			<ng-icon name="bootstrapLightbulbFill" slot="start"></ng-icon>
			<div class="button-text">
				<div class="main-text">{{ 'home.cta.submitTip' | translate }}</div>
				<div class="sub-text">{{ 'home.cta.anonymousSecureRewarded' | translate }}</div>
			</div>
			<ng-icon name="bootstrapChevronRight" slot="end"></ng-icon>
		</ion-button>
	</div>

	<div class="gallery-section">
		<div class="swiper-container">
			<swiper-container class="mySwiper" pagination="true" navigation="true">
				@for (slide of slides; track slide; let i = $index) {
				<swiper-slide>
					<div class="card-image-wrapper">
						<ion-img class="card-image" [src]="slide.src" [alt]="slide.alt"
							[attr.fetchpriority]="i === 0 ? 'high' : 'auto'" [attr.loading]="i === 0 ? 'eager' : 'lazy'"></ion-img>
					</div>
				</swiper-slide>
				}
			</swiper-container>
		</div>
	</div>

	<div class="info-section">
		<div class="segment-container">
			<ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged()">
				<ion-segment-button value="about-us">{{ 'home.segments.aboutUs' | translate }}</ion-segment-button>
				<ion-segment-button value="tip-procedure">{{ 'home.segments.tipProcedure' | translate }}</ion-segment-button>
			</ion-segment>
		</div>

		<div class="content-container">
			@if (selectedSegment === 'about-us') {
			<div class="content-panel">
				<ion-list lines="none" class="about-us-list">
					@for (item of aboutItems; track item) {
					<div class="about-item">
						<ion-item class="about-header">
							<ng-icon [name]="item.icon" slot="start" class="about-icon"></ng-icon>
							<ion-label>{{ item.title | translate }}</ion-label>
						</ion-item>
						<div class="about-content">
							{{ item.details | translate }}
						</div>
					</div>
					}
				</ion-list>
			</div>
			}

			@if (selectedSegment === 'tip-procedure') {
			<div class="content-panel">
				<ion-accordion-group multiple="true" class="tip-procedure-accordion">
					@for (step of procedureSteps; track step) {
					<ion-accordion>
						<ion-item slot="header" class="procedure-header">
							<ng-icon [name]="step.icon" slot="start" class="procedure-icon"></ng-icon>
							<ion-label>{{ step.title | translate }}</ion-label>
						</ion-item>
						<div class="procedure-content" slot="content">
							{{ step.details | translate }}
						</div>
					</ion-accordion>
					}
				</ion-accordion-group>
			</div>
			}
		</div>
	</div>

	<app-tip-info [isOpen]="isModalOpen" (closeModal)="closeTipModal()" (submitTip)="openTipOptions()"></app-tip-info>
</ion-content>