<app-header title="Suspect Details" [showMenuButton]="false">
	<ion-button slot="start" (click)="goBack()" aria-label="Go back">
		<ng-icon slot="icon-only" name="bootstrapArrowLeft" class="icon-size"></ng-icon>
	</ion-button>
</app-header>

<ion-content [fullscreen]="true">
	@if (isLoading()) {
	<div class="loading-container">
		<ion-spinner name="crescent"></ion-spinner>
		<ion-text>
			<p>Loading suspect...</p>
		</ion-text>
	</div>
	}

	@if (error() && !isLoading()) {
	<div class="error-container">
		<ng-icon name="bootstrapExclamationTriangle" size="64"></ng-icon>
		<ion-text color="danger">
			<h3>Error</h3>
			<p>{{ error() }}</p>
		</ion-text>
		<ion-button fill="outline" (click)="goBack()">
			Go Back
		</ion-button>
	</div>
	}

	@if (suspect() && !isLoading() && !error()) {
	<div class="content-wrapper">
		@if (suspect()!.Images && suspect()!.Images!.length > 0) {
		<div class="images-section">
			<swiper-container slides-per-view="1" navigation="true" pagination="true" loop="false" class="detail-swiper"
				(swiperslidechange)="onSwiperSlideChange($event)">
				@for (image of suspect()!.Images!; track image.documentId; let i = $index) {
				<swiper-slide>
					<div class="slide-container suspect-image-wrapper">
						<ion-img [src]="getImageUrl(image.url)" [alt]="image.alternativeText || suspect()!.Name"
							(click)="onImageClick(i)" class="suspect-image" loading="lazy">
						</ion-img>
					</div>
				</swiper-slide>
				}
			</swiper-container>

			@if (suspect()!.Images!.length > 1) {
			<div class="image-counter">
				{{ selectedImageIndex() + 1 }} / {{ suspect()!.Images!.length }}
			</div>
			}
		</div>
		}

		<div class="info-section">
			<div class="info-card">
				<div class="card-header-section">
					<h1 class="detail-title">{{ suspect()!.Name }}</h1>
					<div class="suspect-attributes">
						@if (suspect()!.Crime) {
						<div class="metadata-item">
							<ng-icon name="bootstrapExclamationTriangle"></ng-icon>
							<span class="attribute-label">Crime:</span>
							<span class="attribute-value">{{ suspect()!.Crime }}</span>
						</div>
						}
						@if (suspect()!.Scene) {
						<div class="metadata-item">
							<ng-icon name="bootstrapPinAngle"></ng-icon>
							<span class="attribute-label">Scene:</span>
							<span class="attribute-value">{{ suspect()!.Scene }}</span>
						</div>
						}
						@if (suspect()!.Residence) {
						<div class="metadata-item">
							<ng-icon name="bootstrapHouseDoor"></ng-icon>
							<span class="attribute-label">Residence:</span>
							<span class="attribute-value">{{ suspect()!.Residence }}</span>
						</div>
						}
						@if (suspect()!.Age) {
						<div class="metadata-item">
							<ng-icon name="bootstrapCake2"></ng-icon>
							<span class="attribute-label">Age:</span>
							<span class="attribute-value">{{ suspect()!.Age }}</span>
						</div>
						}
						@if (suspect()!.Height) {
						<div class="metadata-item">
							<ng-icon name="bootstrapArrowsExpand"></ng-icon>
							<span class="attribute-label">Height:</span>
							<span class="attribute-value">{{ suspect()!.Height }}</span>
						</div>
						}
						@if (suspect()!.Weight) {
						<div class="metadata-item">
							<ng-icon name="bootstrapArrowsExpandVertical"></ng-icon>
							<span class="attribute-label">Weight:</span>
							<span class="attribute-value">{{ suspect()!.Weight }}</span>
						</div>
						}
					</div>
				</div>

				@if (suspect()!.Body) {
				<div class="card-content-section">
					<div class="detail-body">
						<ion-text>
							<div [innerHTML]="suspect()!.Body"></div>
						</ion-text>
					</div>
				</div>
				}
			</div>

			<div class="additional-info-section">
				<ion-card class="info-highlight-card">
					<ion-card-header>
						<ion-card-title>
							<ng-icon name="bootstrapCash"></ng-icon>
							<span>Reward</span>
						</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-text>
							Cash rewards of up to <b>$2,000</b> are available for information leading to an arrest or the solving of a
							crime.
						</ion-text>
					</ion-card-content>
				</ion-card>

				<ion-card class="info-highlight-card">
					<ion-card-header>
						<ion-card-title>
							<ng-icon name="bootstrapTelephone"></ng-icon>
							<span>Contact Us</span>
						</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-text>
							If seen, <b>do not approach the suspect</b>.<br>
							Instead, Call <b>9-1-1</b> or contact Crime Stoppers: <a href="tel:1-800-222-8477">1-800-222-8477</a>
						</ion-text>
					</ion-card-content>
				</ion-card>
			</div>
		</div>
	</div>
	}

	<ion-modal [isOpen]="isImageModalOpen()" (didDismiss)="closeImageModal()">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-title>Image {{ selectedImageIndex() + 1 }} of {{ suspect()?.Images?.length || 0 }}</ion-title>
					<ion-buttons slot="end">
						<ion-button (click)="closeImageModal()">
							<ng-icon name="bootstrapX" slot="icon-only"></ng-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>

			<ion-content>
				@if (suspect()?.Images && suspect()!.Images![selectedImageIndex()]) {
				<div class="modal-image-container">
					<ion-img [src]="getImageUrl(suspect()!.Images![selectedImageIndex()].url)"
						[alt]="suspect()!.Images![selectedImageIndex()].alternativeText || suspect()!.Name" class="modal-image"
						loading="lazy">
					</ion-img>
				</div>
				}
			</ion-content>
		</ng-template>
	</ion-modal>
</ion-content>