ion-button {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

ion-segment {
  ion-segment-button {
    font-size: inherit;
  }
}

ion-content {
  border-radius: 14px;
}

.swiper-container {
  border-radius: 14px;
}
