<app-header title="Contact Us"></app-header>

<ion-content [fullscreen]="true">
	<div class="ion-padding contact-page">
		<div class="contact-section">
			<div class="section-header center-header">
				<span class="section-title">General Inquiries</span>
			</div>
			<ion-list>
				<ion-item class="list-header" lines="none">
					<ion-label class="name-col"><strong>Name</strong></ion-label>
					<ion-label class="title-col"><strong>Title</strong></ion-label>
				</ion-item>
				<ion-item lines="none"><ion-label class="name-col">Colin Jessome</ion-label><ion-label
						class="title-col">Executive
						Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Det. Cst. Mark Craig</ion-label><ion-label
						class="title-col">HRPS Police
						Coordinator</ion-label></ion-item>
				<!-- Phone and Mail at bottom, multiline -->
				<!-- Phone row: label -->
				<ion-item lines="none">
					<ion-label class="list-header"><strong>Phone</strong></ion-label>
				</ion-item>
				<!-- Phone row: content -->
				<ion-item lines="none" class="no-top-border">
					<ion-label class="full-label">905-825-4747 ext.5139</ion-label>
				</ion-item>
				<!-- Mail row: label -->
				<ion-item lines="none">
					<ion-label class="list-header"><strong>Mail</strong></ion-label>
				</ion-item>
				<!-- Mail row: content -->
				<ion-item lines="none">
					<ion-label class="full-label">2485 North Service Road W,<br>Oakville ON, L6M 3H8</ion-label>
				</ion-item>
			</ion-list>
		</div>

		<div class="section-divider"></div>

		<div class="contact-section">
			<div class="section-header center-header">
				<span class="section-title">Board of Directors</span>
			</div>
			<ion-list>
				<ion-item class="list-header" lines="none">
					<ion-label class="name-col"><strong>Name</strong></ion-label>
					<ion-label class="title-col"><strong>Title</strong></ion-label>
				</ion-item>
				<ion-item lines="none"><ion-label class="name-col">Karen Rowley</ion-label><ion-label
						class="title-col">Chair</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Shamsuddin Nasir</ion-label><ion-label
						class="title-col">Vice-Chair</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Farshad Appoo</ion-label><ion-label
						class="title-col">Secretary</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Mike Catton</ion-label><ion-label
						class="title-col">Treasurer</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Lou Ann Lucier</ion-label><ion-label
						class="title-col">Immediate
						Past-Chair</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Jan Westcott</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Serena Maione</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">John Hinnen</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Mark Ajodha</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Alora Woodrow</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Jackie Johnson</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Corey Evans</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Melissa Gordon</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Feras Aslan</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Ronald Van der Steen</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
				<ion-item lines="none"><ion-label class="name-col">Shaheryar Mian</ion-label><ion-label
						class="title-col">Director</ion-label></ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>