<app-header [title]="'feature.contact.headerTitle' | translate"></app-header>

<ion-content [fullscreen]="true" role="main">
	<div class="ion-padding contact-page">
		<div class="contact-section" role="region" aria-label="General Inquiries Contact Information">
			<div class="section-header center-header">
				<span class="section-title">
					{{ 'feature.contact.sections.generalInquiries.title' | translate }}
				</span>
			</div>
			<ion-list role="table" aria-label="General Inquiries Contact Table">
				<ion-item class="list-header" lines="none" role="row">
					<ion-label class="name-col" role="columnheader">
						<strong>{{ 'feature.contact.columns.name' | translate }}</strong>
					</ion-label>
					<ion-label class="title-col" role="columnheader">
						<strong>{{ 'feature.contact.columns.title' | translate }}</strong>
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Colin Jessome</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.executiveDirector' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Det. Cst. Mark Craig</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.policeCoordinator' | translate }}
					</ion-label>
				</ion-item>
				<!-- Phone and Mail at bottom, multiline -->
				<!-- Phone row: label -->
				<ion-item lines="none" role="row">
					<ion-label class="list-header" role="cell">
						<strong>{{ 'feature.contact.fields.phone.label' | translate }}</strong>
					</ion-label>
				</ion-item>
				<!-- Phone row: content -->
				<ion-item lines="none" class="no-top-border" role="row">
					<ion-label class="full-label" role="cell" tabindex="0">
						{{ 'feature.contact.fields.phone.value' | translate }}
					</ion-label>
				</ion-item>
				<!-- Mail row: label -->
				<ion-item lines="none" role="row">
					<ion-label class="list-header" role="cell">
						<strong>{{ 'feature.contact.fields.mail.label' | translate }}</strong>
					</ion-label>
				</ion-item>
				<!-- Mail row: content -->
				<ion-item lines="none" role="row">
					<ion-label class="full-label" role="cell" tabindex="0"
						[innerHTML]="'feature.contact.fields.mail.value' | translate"></ion-label>
				</ion-item>
			</ion-list>
		</div>

		<div class="section-divider"></div>

		<div class="contact-section" role="region" aria-label="Board of Directors Contact Information">
			<div class="section-header center-header">
				<span class="section-title">
					{{ 'feature.contact.sections.board.title' | translate }}
				</span>
			</div>
			<ion-list role="table" aria-label="Board of Directors Contact Table">
				<ion-item class="list-header" lines="none" role="row">
					<ion-label class="name-col" role="columnheader">
						<strong>{{ 'feature.contact.columns.name' | translate }}</strong>
					</ion-label>
					<ion-label class="title-col" role="columnheader">
						<strong>{{ 'feature.contact.columns.title' | translate }}</strong>
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Karen Rowley</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.chair' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Shamsuddin Nasir</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.viceChair' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Farshad Appoo</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.secretary' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Mike Catton</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.treasurer' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Lou Ann Lucier</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.immediatePastChair' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Jan Westcott</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Serena Maione</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">John Hinnen</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Mark Ajodha</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Alora Woodrow</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Jackie Johnson</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Corey Evans</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Melissa Gordon</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Feras Aslan</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Ronald Van der Steen</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
				<ion-item lines="none" role="row">
					<ion-label class="name-col" role="cell">Shaheryar Mian</ion-label>
					<ion-label class="title-col" role="cell">
						{{ 'feature.contact.roles.director' | translate }}
					</ion-label>
				</ion-item>
			</ion-list>
		</div>
	</div>
</ion-content>