<app-header title="Home"></app-header>

<ion-content [fullscreen]="true">
	<div class="ion-padding">
		<ion-button expand="full" shape="round" (click)="openTipModal()">Submit a Tip!</ion-button>

		<div class="swiper-container">
			<swiper-container class="mySwiper" pagination="true" navigation="true">
				<swiper-slide *ngFor="let slide of slides">
					<div class="slide-content">
						<ion-img [src]="slide.src" [alt]="slide.alt"></ion-img>
					</div>
				</swiper-slide>
			</swiper-container>
		</div>

		<ion-segment [(ngModel)]="selectedSegment">
			<ion-segment-button value="about-us">
				About Us
			</ion-segment-button>
			<ion-segment-button value="tip-procedure">
				Tip Procedure
			</ion-segment-button>
		</ion-segment>

		<div *ngIf="selectedSegment === 'about-us'">
			<app-about-us></app-about-us>
		</div>

		<div *ngIf="selectedSegment === 'tip-procedure'">
			<app-tip-procedure></app-tip-procedure>
		</div>
	</div>

	<app-tip-info [isOpen]="isModalOpen" (closeModal)="closeTipModal()" (submitTip)="openTipOptions()"></app-tip-info>
</ion-content>