<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle menu="main-menu">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <img src="../../assets/images/crime-stoppers-logo.png" alt="Crime Stoppers"/>

    <ion-button expand="block" (click)="fetchHelloWorld()">
      Request Hello World
    </ion-button>
    
    <ion-text color="primary" *ngIf="helloMessage">
      <h2 class="ion-text-center">{{ helloMessage }}</h2>
    </ion-text>
  </div>
</ion-content>
