ion-button {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}

ion-segment-button {
  font-size: 1.2rem;
  font-weight: bold;
}

ion-content,
.ion-padding > div,
.swiper-container,
app-about-us,
app-tip-procedure {
  border-radius: 14px;
  overflow: hidden;
}
