<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-toggle menu="main-menu">
				<ion-button>
					<ion-icon slot="icon-only" name="menu-outline"></ion-icon>
				</ion-button>
			</ion-menu-toggle>
		</ion-buttons>
		<div class="toolbar-content">
			<ion-title>Home</ion-title>
			<img src="../../assets/images/hcs-logo.png" alt="Crime Stoppers Logo" class="header-logo" />
		</div>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<div class="ion-padding">
		<ion-button expand="full" (click)="openTipModal()">Submit a Tip!</ion-button>

		<div class="swiper-container">
			<swiper-container class="mySwiper" pagination="true" navigation="true">
				<swiper-slide>
					<div class="slide-content">
						<img src="../../assets/images/hcs-1.jpg" alt="Slide Image" />
					</div>
				</swiper-slide>
				<swiper-slide>
					<div class="slide-content">
						<img src="../../assets/images/hcs-2.jpg" alt="Slide Image" />
					</div>
				</swiper-slide>
				<swiper-slide>
					<div class="slide-content">
						<img src="../../assets/images/hcs-3.jpg" alt="Slide Image" />
					</div>
				</swiper-slide>
			</swiper-container>
		</div>

		<ion-segment [(ngModel)]="selectedSegment">
			<ion-segment-button value="tab1">
				Vision
			</ion-segment-button>
			<ion-segment-button value="tab2">
				Mission
			</ion-segment-button>
			<ion-segment-button value="tab3">
				Procedure
			</ion-segment-button>
		</ion-segment>

		<ion-card *ngIf="selectedSegment === 'tab1'">
			<ion-card-content>
				<p>A crime-free Halton.</p>
			</ion-card-content>
		</ion-card>

		<ion-card *ngIf="selectedSegment === 'tab2'">
			<ion-card-content>
				<p>To reduce crime in Halton Region through community education and engagement in partnership with the public,
					the police, and the media and by providing citizens the ability to provide information with guaranteed
					anonymity to deter and solve crime, with rewards offered for tips that lead to an arrest.</p>
			</ion-card-content>
		</ion-card>

		<ion-card *ngIf="selectedSegment === 'tab3'">
			<ion-card-content>
				<p>Content for Procedure</p>
			</ion-card-content>
		</ion-card>
	</div>

	<app-tip-modal [isOpen]="isModalOpen" (closeModal)="closeTipModal()" (submitTip)="openTipOptions()"></app-tip-modal>
</ion-content>