ion-card {
  width: 100%;
  margin: 10px 0;
  display: block;
}

ion-card {
  width: 100%;
  margin: 10px 0;
  display: block;
}

ion-button[expand="full"] {
  width: 100%;
  --padding-start: 0;
  --padding-end: 0;
  margin-bottom: 10px;
}
